.desktop,
.desktop * {
  box-sizing:
   border-box;
}
body{
  margin: 0;
  font-family:
  'Montserrat',
  sans-serif;
}
.desktop {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 55, 1) 13.801756501197815%,
    rgba(65, 30, 90, 0.86) 100%
  );
  height: 2048px;
  position: relative;
  overflow: hidden;
}
.ellipse-1 {
  background: radial-gradient(
    closest-side,
    rgba(46, 12, 62, 0.71) 35.99354326725006%,
    rgba(42, 28, 49, 0) 100%
  );
  border-radius: 50%;
  width: 812px;
  height: 785px;
  position: absolute;
  left: -266px;
  top: -206px;
}
.group-1 {
  position: absolute;
  inset: 0;
}
.holod {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  line-height: 120%;
  font-weight: 900;
  position: absolute;
  left: 726px;
  top: 18px;
  width: 98px;
  height: 34px;
  -webkit-text-stroke: 1px
    linear-gradient(
      90deg,
      rgba(159, 192, 255, 1) 100%,
      rgba(21, 163, 138, 1) 100%
    );
}
.logo{
  width: 26px;
  height: 10px;
  position: absolute;
  left: 685px;
  top: 3px;
  transform: translate(0.5px,9.5px);
  overflow: visible;
}
.backgroundblack{
  background: #000000;
  border-radius: 23px;
  width: 1350px;
  height: 1997px;
  position: absolute;
  left: 60px;
  top: 52px;
  overflow: hidden;
}
.ellipse-2 {
  background: radial-gradient(
    closest-side,
    rgba(65, 30, 90, 0.86) 0%,
    rgba(149, 115, 174, 0) 87.99999952316284%
  );
  border-radius: 50%;
  width: 916px;
  height: 998px;
  position: absolute;
  left: -376px;
  top: -84px;
}
.ellipse-3 {
  background: radial-gradient(
    closest-side,
    rgba(2, 0, 55, 1) 0%,
    rgba(112, 39, 165, 0) 87.99999952316284%
  );
  border-radius: 50%;
  width: 916px;
  height: 998px;
  position: absolute;
  left: 769px;
  top: -84px;
}
.div {
  background: linear-gradient(
    90deg,
    rgba(0, 42, 118, 1) 0%,
    rgba(38, 219, 187, 1) 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-family: "Inter-Black", sans-serif;
  font-size: 32px;
  font-weight: 700;
  position: absolute;
  left: 420px;
  top: 69px;
  width: 541px;
  height: 116px;
  -webkit-text-stroke: 1px rgba(255, 255, 255, 0.17);
}
.quality{
position: absolute;
width: 477.45px;
height: 119px;
left: 445px;
top: 261px;
  position: absolute;
  transform: translate(0.5px,9.5px);
  overflow: visible;
}
.div5 {
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Light", sans-serif;
  font-size: 21px;
  line-height: 120%;
  font-weight: 300;
  position: absolute;
  left: 350px;
  top: 250px;
  width: 800px;
  height: 36px;
}
.phone {
  width: 28px;
  height: 33px;
  position: absolute;
  left: 1165px;
  top: 71px;
  object-fit: cover;
}
.ringer{
  color: #ffffff;
  text-align: center;
  font-family: "Inter-Medium", sans-serif;
  font-size: 15px;
  line-height: 120%;
  font-weight: 500;
  position: absolute;
  left: 1148px;
  top: 79px;
  width: 236px;
  height: 26px;
}
a[href^="tel:"] {
  text-decoration: none;
  color: #ffffff;
}
